.red {
  background-color: #c82736;
}
.orange {
  background-color: #e77614;
}
.purple {
  background-color: #8d3dae;
}
.green {
  background-color: #28a92b;
}
.grey {
  background-color: grey;
}
.cover{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
img{
  height: 80%;
}
.frame{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html, body {
  margin: 0;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: black;
}

.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
#container {
  width: 100%;
  height: 100vh; 
  position: relative;
  overflow: hidden;
}
@media only screen 
  and (orientation: landscape) { 
    .signs{
      background: url("img/1_signs.jpg") no-repeat center center scroll;
    }
    .windows{
      background: url("img/2_windows.jpg") no-repeat center center scroll;
    }
    .slums{
      background: url("img/3_slums.jpg") no-repeat center center scroll;
    }
    .crowd{
      background: url("img/4_crowd.jpg") no-repeat center center scroll;
    }
    .market{
      background: url("img/5_market.jpg") no-repeat center center scroll;
    }
}
@media only screen 
  and (orientation: portrait) { 
    img{
      height: auto;
      width: 60%;
    }
    .signs{
      background: url("img/1_signs_portrait.jpg") no-repeat center center scroll;
    }
    .windows{
      background: url("img/2_windows_portrait.jpg") no-repeat center center scroll;
    }
    .slums{
      background: url("img/3_slums_portrait.jpg") no-repeat center center scroll;
    }
    .crowd{
      background: url("img/4_crowd_portrait.jpg") no-repeat center center scroll;
    }
    .market{
      background: url("img/5_market_portrait.jpg") no-repeat center center scroll;
    }
}